.nav{
    position:fixed;
    top:0;
    width:100%;
    padding: 20px;
    height: 30px;
    
    display:flex;
    justify-content: space-between;
    z-index: 1;

}

.nav__black{
    background-color: black;
    transition-timing-function: ease-in;
    transition: all 0.5s;
}

.nav__logo{
     width: 80px;
     position: fixed;
     left: 20px;
     object-fit: contain;
 }

.nav__avatar{
    position:fixed;
    right: 20px;
    width:30px;
    object-fit: contain;
}
